.domainPage {
	background-color: #4506c8;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.domain_page .main_form {
	margin-top: 70px;
	width: 30vw;
	height: 52%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 45px 30px 45px 30px;
	background: #1f1f1f;
	border-radius: 25px;
}

.domain_page .btn1 {
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #6b27f8;
	padding: 3%;
	text-decoration: none;
	border: none;
	width: 100%;
	margin: 0;
}

.domain_page .btn1:hover {
	background: #4506c8;
	text-decoration: none;
}

h1.heading {
	font-family: GilroySemiBold;
	font-style: normal;
	font-weight: 600;
	font-size: 26.7857px;
	line-height: 32px;
	/* identical to box height */

	text-align: center;

	color: #ffffff;
	margin: 0;
}

.domain_page .para {
	font-family: GilroyMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 17.8571px;
	line-height: 21px;
	/* identical to box height */

	text-align: center;

	/* Text/Secondary */

	color: rgba(255, 255, 255, 0.7);
	margin: 0;
}

.domain_page .domains {
	margin: 30px 0 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* domain page */
.rdio-grp {
	margin: auto;
	width: calc(100%-16px);
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	padding: 0 10px;
	align-items: center;
	border: 1px solid grey;
	border-radius: 10px;
	margin-bottom: 10px;
}
@media (min-width: 576px) {
	.rdio-grp {
		width: 50%;
	}
}
.error {
	color: red;
	padding-bottom: 2%;
	align-self: flex-end;
	font-size: 12px;
	font-family: GilroyMedium;
}

.dom-pg-ico {
	font-size: 30px;
	margin-bottom: -4px;
	margin-right: 8px;
}

.input:checked + .label {
	color: dodgerblue;
}
.input:checked + .tech {
	color: dodgerblue;
}
.input:disabled + .label {
	color: grey;
	cursor: auto;
}

.label {
	display: inline-block;
	height: 100%;
	cursor: pointer;
	line-height: 3;
	margin: 0;
	position: relative;
	margin-left: 0px;
	width: 100%;
	transition: all 0.1s;
}

.tech::before {
	content: "";
	position: absolute;
	background: url("../../../assets/img/settings-gear-63.svg") no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	bottom: 12px;
	left: -40px;
	color: white;
}
.man::before {
	content: "";
	position: absolute;
	background: url("../../../assets/img/Shape.svg") no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	bottom: 12px;
	left: -40px;
}
.des::before {
	content: "";
	position: absolute;
	background: url("../../../assets/img/vector.svg") no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	bottom: 12px;
	left: -40px;
}
.redirectBtn {
	height: 40px;
	width: auto;
	border-radius: 5px;
	background-color: transparent;
	border: 1px solid dodgerblue;
	outline: none;
	font-size: 1em;
	cursor: pointer;
	color: dodgerblue;
	transition: all 250ms ease-in-out;
}
.redirectBtn:hover {
	transform: scale(1.1);
	background-color: dodgerblue;
	color: white;
}
.wrapper {
	text-align: center;
}
.li {
	line-height: 1.5;
}
hr {
	margin-top: 30px;
	border: 0.1px solid #747474;
	height: 0.1px;
	width: 90%;
}
.iconContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #cccaca;
}
.iconContainer > p {
	font-size: 0.85rem;
}
.iconContainer > img {
	width: 20px;
	height: 20px;
	margin: 0 5px 0;
}
@media screen and (max-width: 430px) {
	.iconContainer > p {
		font-size: 0.75rem;
	}
}
@media screen and (max-width: 270px) {
	.iconContainer > p {
		font-size: 0.6rem;
	}
}
